<!DOCTYPE html>
<html>

<head>
    <title>
        Express Skills Lab
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Express Skills Lab</h1>

    <a href="/">HOME</a> &nbsp; | &nbsp;
    <a href="/skills">All Skills</a>